.banner{
    color: var(--branco);
    padding: 2.5em 2em;
    background: var(--azul-degrade);
    text-align: center;
}

.banner__titulo{
    font-size: 18px;
    font-weight: 700;
}

.banner__texto{
    font-size: 16px;
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa{
    padding: 1em;
    width: 100%;
    border: 1px solid var(--branco);
    background-color: transparent;
    color: var(--branco);
    border-radius: 24px;
}

.banner__pesquisa::placeholder{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--branco);
    background: url('../assets/Lupa.svg') no-repeat;
    background-position: 1em;
}